<div id="masthead">
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <h1>
                    {{title}}
                        <p class="lead"></p>
                </h1>
            </div>
            <div class="col-md-5">
                <div class="well well-lg"> Sign Up to Access Admin Privileges!
                    <div class="row">
                        <div class="col-sm-12">


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- /cont -->

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="top-spacer"> </div>
            </div>
        </div>
    </div><!-- /cont -->

</div>


<div class="container">
    <div class="row">

        <div class="col-md-12">


        </div>
        <!--/col-12-->
    </div>
    <div class="row">

        <div class="col-md-12">

            <div class="panel">
                <div class="panel-body">

                    <div class="row">
                        <div class="signup-form">
                            <form action="/user/signup" method="POST">
                                <h2>Register</h2>
                                <p class="hint-text">Create your account. It's free!</p>
                                <div class="form-group">

                                    <div class="col"><input type="text" class="form-control" name="fname"
                                            placeholder="First Name" required="required"></div><br>
                                    <div class="col"><input type="text" class="form-control" name="lname"
                                            placeholder="Last Name"></div>
                                </div>
                                <div class="form-group">
                                    <input type="email" class="form-control" name="email" placeholder="Email"
                                        required="required">
                                </div>
                                <div class="form-group">
                                    <input type="password" class="form-control" name="password"
                                        placeholder="Password" required="required">
                                </div>
                                <div class="form-group">
                                    <label class="form-check-label"><input type="checkbox" required="required"> I
                                        accept the <a href="#">Terms of Use</a> &amp; <a href="#">Privacy
                                            Policy</a></label>
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="btn btn-success btn-lg btn-block">Register
                                        Now</button>
                                </div>
                            </form>
                            <div class="text-center">Already have an account? <a href="login">Log in</a></div>
                        </div>

                    </div>
                    <hr>

                </div>
            </div>



        </div>
        <!--/col-12-->
    </div>
</div>



<hr>