<div id="masthead">
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <h1>
                    {{title}}
                        <p class="lead"></p>
                </h1>
            </div>
            <div class="col-md-5">
                <div class="well well-lg">“Some books leave us free and some books make us free.” – Ralph Waldo
                    Emerson
                    <div class="row">
                        <div class="col-sm-12">


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- /cont -->

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="top-spacer"> </div>
            </div>
        </div>
    </div><!-- /cont -->

</div>


<div class="container">

    <div class="row">

        <div class="col-md-12">

            <div class="panel">
                <div class="panel-body">
                    <!-- enctype="multipart/form-data"> -->
                    <div class="row">
                        <div class="signup-form">
                            <form (ngSubmit)="AddAuthor()" method="POST" enctype="multipart/form-data">
                                <h2>Add Author</h2>
                                <p class="hint-text">Add an author by filling in required details</p>

                                <div class="form-group">
                                    <input type="text" class="form-control" name="name" [(ngModel)]="author.aname" placeholder="Name"
                                        required="true">
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control" name="nationality" [(ngModel)]="author.nationality"
                                        placeholder="Nationality" required="true">
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control" name="born" [(ngModel)]="author.born" placeholder="Born(YYYY)"
                                        required="true" pattern="[0-9]{1,4}">
                                </div>
                                <div class=" form-group">
                                    <input type="text" class="form-control" name="description" [(ngModel)]="author.description"
                                        placeholder="Description" required="true">
                                </div>
                                <p>Upload Image URL</p>
                                <div class="form-group">
                                    <input type="text" id="image" name="image" style="width: 250px" [(ngModel)]="author.image" required="true">
                                </div>

                                <div class="form-group">
                                    <button type="submit" class="btn btn-success btn-lg btn-block">Add
                                        New</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> 
<hr />

<hr />






