<header class="navbar navbar-bright navbar-fixed-top" role="banner">
    <div class="container">
      <div class="navbar-header">
        <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <div>
        <a routerLink="/" class="navbar-brand">Library</a>
        </div>
      </div>
      <nav class="collapse navbar-collapse" role="navigation">
        <ul class="nav navbar-nav">
          <li>
            <a routerLink="login" *ngIf="!_auth.loggedIn()">Login</a>
          </li>
          <li>
            <a routerLink="signup" *ngIf="!_auth.loggedIn()">Signup</a>
          </li>
          <li>
            <a routerLink="books" *ngIf="_auth.loggedIn()">Books</a>
          </li>
          <li>
            <a routerLink="authors" *ngIf="_auth.loggedIn()">Authors</a>
          </li>
          
          <li>
            <a
              routerLink="addbooks"
              *ngIf="_auth.loggedIn() && _auth.rolesVerify()"
              >Add Books</a>
          </li>
          <li>
            <a
              routerLink="addauthors"
              *ngIf="_auth.loggedIn() && _auth.rolesVerify()"
              >Add Authors</a>
          </li>
  
          <li><a (click)="logoutUser()" *ngIf="_auth.loggedIn()">Logout</a></li>
        </ul>
        <ul class="nav navbar-right navbar-nav">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="glyphicon glyphicon-search"></i></a>
            <ul class="dropdown-menu" style="padding:12px;">
              <form class="form-inline">
                <button type="submit" class="btn btn-default pull-right"><i class="glyphicon glyphicon-search"></i></button><input type="text" class="form-control pull-left" placeholder="Search">
              </form>
            </ul>
          </li>
        </ul>
      </nav>
    </div>
  </header>
