<div id="masthead">
        <div class="container">
            <div class="row">
                <div class="col-md-7">
                    <h1>
                        {{title}}
                            <p class="lead"></p>
                    </h1>
                </div>
                <div class="col-md-5">
                    <div class="well well-lg">
                        “Reading… a vacation for the mind… ” – Dave Barry
                        <div class="row">
                            <div class="col-sm-12">


                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- /cont -->

        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="top-spacer"> </div>
                </div>
            </div>
        </div><!-- /cont -->

    </div>


    <div class="container">
        <div class="row">

            <div class="col-md-12">

                <div class="panel">
                    <div class="panel-body">


                        <div class="row">
                            <br>
                            <div class="col-md-2 col-sm-3 text-center">
                                <!-- <img alt="" -->
                                    <!-- src="data:image/png;base64,=new Buffer(book.image.buffer).toString('base64')"
                                    style="width:100px;height:100px" class="img-circle"> -->
                            </div>
                            <form (ngSubmit)="EditBook()" method="POST">
                                <!-- enctype="multipart/form-data"> -->
                                <div class="col-md-10 col-sm-9">
                                    <h3>
                                        Book Title: <input style="background: transparent;border: none; height: 100%;width: 100%;" value={{book.title}} [(ngModel)]="book.title" name="title">
                                    </h3>
                                    <div class="row">
                                        <div class="col-xs-9">
                                            <h4><span class="label label-default">
                                                    Author: <input style="background: transparent;border: none;"
                                                     [(ngModel)]="book.author" name="author" value ="{{book.author}}">
                                                     
                                                </span></h4>
                                            <h4>
                                                <small style="font-family:courier,'new courier';" class="text-muted">
                                                   Genre: <input style="background: transparent;border: none;"
                                                        [(ngModel)]="book.genre" name="genre">

                                                    <hr>
                                                    <p class="text-muted">
                                                    Description: <textarea name="description" class = "form-control"
                                                            style="background: transparent;border: none; width: 100%; resize: none;"
                                                            rows='15' [(ngModel)]="book.description" placeholder="Type a description"></textarea>            
                                                        
                                                            
                                                    </p>
                                                </small>
                                            </h4>
                                            <input type="text" id="myfile" name="avatar" style="width: 250px" value={{book.image}} [(ngModel)]="book.image">
                                            <button type="submit"
                                                class="btn btn-success btn-lg btn-block">Update</button>
                                            <br>
                                            <form (ngSubmit)="CancelUpdate()" method="POST">
                                            <button type="submit" class="btn btn-danger btn-lg btn-block">Cancel Update</button>
                                            </form>
                                    </div>
                                </div>
                            </div>
                            </form>

                            <div class="col-xs-3"></div>
                        </div>
                        <br><br>
                    </div>
                </div>
                <hr>


            </div>
        </div>



    </div>
    <!--/col-12-->

<hr>
